on post-fs
   # "Tap to wake" gesture
   chown root input /sys/class/sensors/dt-gesture/enable
   chmod 0660 /sys/class/sensors/dt-gesture/enable
   chown root input /sys/class/sensors/dt-gesture/poll_delay
   chmod 0660 /sys/class/sensors/dt-gesture/poll_delay

on post-fs
   chown system system /sys/devices/platform/soc/4804000.ufshc/clkgate_enable
   chown system system /sys/devices/platform/soc/4804000.ufshc/devfreq/4804000.ufshc/min_freq

#fps dual sensor
service chipone_ident /vendor/bin/hw/chipone_ident
    class late_start
    user system
    group system
    oneshot
    disabled

service vendor.ident-fps-overlay-sh /vendor/bin/init.oem.fingerprint.overlay.sh
    class core
    user root
    group drmrpc system
    oneshot
    disabled

on post-fs-data
    exec_start vendor.ident-fps-overlay-sh
    chown system system /dev/fpsensor
    chmod 0660 /dev/fpsensor
    # fm conttrol intf
    chown system system /sys/devices/platform/soc/soc:fm_wcn39x0/elna_en

on late-init
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_charger_class.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/sgm4154x_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/bq2589x_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/qpnp_adaptive_charge.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/tcpc_class.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/tcpc_sgm7220.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/rt_pd_manager.ko

on init
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/leds_aw99703.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/ocp2138.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/nova_0flash_mmi.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/ili9882_mmi.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/sm5350_bl.ko

on boot && property:ro.vendor.mot.gki.path=5.4-gki
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/nfc_i2c.ko

on charger
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_charger_class.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/sgm4154x_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/bq2589x_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/qpnp_adaptive_charge.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/tcpc_class.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/tcpc_sgm7220.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/rt_pd_manager.ko

service capsense_reset /vendor/bin/capsense_reset
   class core
   user system
   group system input
   disabled

on property:sys.boot_completed=1
    start capsense_reset
